@import "settings";

.title__bar {
    font-size: 16vw;
    font-weight: 700;
    padding: 0 20px 15px;
    text-align: center;
    text-shadow: $shadow-white, $shadow-gray ;
    background: rgba($color-orange, 0.1);
    border-bottom: 2px solid rgba($color-orange, 0.1);
}
