$font-family: 'Mirza', cursive;
// $font-color-main: #7d7d7d;

$color-white: #FFFFFF;

$color-beige: #DCC7AA;
$color-yellow: #F7C331;
  $color-yellow-10: rgba(247, 136, 47, 0.1);
  $color-yellow-20: rgba(247, 136, 47, 0.2);
$color-orange: #F7882F;
$color-gray: #6B7A8F;
