$font-family: 'Mirza', cursive;
// $font-color-main: #7d7d7d;

$color-white: #FFFFFF;

$color-beige: #DCC7AA;
$color-yellow: #F7C331;
$color-orange: #F7882F;
$color-gray: #6B7A8F;

$shadow-white: 0.02em 0.02em $color-white;
$shadow-gray: 0.06em 0.06em $color-gray;


@mixin placeholder{
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }

}
